@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
}

.navbar__menu.activado{
    display:flex; 
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}
  
.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}

.navbar__btn:hover{
    transform:rotate(90deg);
}
