$primary-color: black;


.navbar__btn{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
}
    
.navbar__btn span{
    background-color: $primary-color;
    display:block;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius:2px;    
}