$primary-color: white;
$secondary-color: black;
$terciary-color: #f3f3f3;


.navbar{
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-height:8vh;
    background-color: $terciary-color;
    border-bottom: solid $secondary-color 2px;
    
    .navbar__logo{
        margin-top: 5px;
    }

    .navbar__menu{
        display:flex;
    }

    .navbar__list{
        list-style-type: none;
        transition: 0.3s;
        // width: 100%;
    }

    .navbar__link{
        text-decoration:none;
        font-size: 1.8rem;
        color: $secondary-color;
        font-weight:600;

        &:hover{
            color: $primary-color;
            background-color: $secondary-color;
            transition: 0.5s;
        }
    }
}

.bg{
    padding-top: 8rem;
}