html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

